#Etude des données

In [59]:
df_vente = df_filtered[df_filtered['Nature mutation'] == 'Vente'].copy()
df_vente.columns
#df_vente['sum_carrez']=float(df_vente['Surface Carrez du 1er lot'])+float(df_vente['Surface Carrez du 2eme lot'])+float(df_vente['Surface Carrez du 3eme lot'])+float(df_vente['Surface Carrez du 4eme lot'])+float(df_vente['Surface Carrez du 5eme lot'])
# df_vente[df_vente['Surface Carrez du 1er lot'].notna()]
df_vente.head()
df_vente[df_vente['Surface Carrez du 1er lot'].notna()]

# Fonction pour nettoyer et convertir les chaînes en float
def convert_to_float(value):
    if pd.isna(value):
        return 0.
    return float(value.replace(',', '.'))
# Appliquer la fonction de conversion à la colonne
df_vente['Surface Carrez du 1er lot'] = df_vente['Surface Carrez du 1er lot'].apply(convert_to_float)
df_vente['Surface Carrez du 2eme lot'] = df_vente['Surface Carrez du 2eme lot'].apply(convert_to_float)
df_vente['Surface Carrez du 3eme lot'] = df_vente['Surface Carrez du 3eme lot'].apply(convert_to_float)
df_vente['Surface Carrez du 4eme lot'] = df_vente['Surface Carrez du 4eme lot'].apply(convert_to_float)
df_vente['Surface Carrez du 5eme lot'] = df_vente['Surface Carrez du 5eme lot'].apply(convert_to_float)
df_vente[df_vente['Surface Carrez du 1er lot'].notna()]

df_vente['sum_carrez']=df_vente['Surface Carrez du 1er lot']\
                        + df_vente['Surface Carrez du 2eme lot']\
                        +df_vente['Surface Carrez du 3eme lot']\
                        +df_vente['Surface Carrez du 4eme lot']\
                        +df_vente['Surface Carrez du 5eme lot']

df_filtered_2=df_vente[['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'Type de voie', 'Code postal', 'Nombre de lots',  'sum_carrez',
       'Code type local', 'Surface reelle bati', 'Nombre pieces principales',
       'Surface terrain']]

df_filtered_2.isna().sum()

No disposition                     0
Date mutation                      0
Nature mutation                    0
Valeur fonciere                    0
Type de voie                 1375213
Code postal                     1509
Nombre de lots                     0
sum_carrez                         0
Code type local              1343847
Surface reelle bati          1346094
Nombre pieces principales    1346094
Surface terrain               988410
dtype: int64

In [30]:
# importing pandas
import pandas as pd

# read text file into pandas DataFrame
df = pd.read_csv("raw_data/valeursfoncieres-2023.txt", sep="|").copy()


# Sélectionner les colonnes d'intérêt
cols = ['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
        'Type de voie', 'Code postal', 'Surface Carrez du 1er lot',
        'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot',
         'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot',
        'Nombre de lots', 'Code type local', 'Surface reelle bati',
        'Nombre pieces principales', 'Surface terrain']
df = df[cols]

#Suppression desn lignes qui n'ont pas de Valeur fonciere ou de code postal
df.dropna(subset=['Valeur fonciere','Code postal'],inplace=True)
#Recuperation des valeur qui concerne que les Vente 'classiques'
df=df[df['Nature mutation'] == 'Vente']


# Fonction pour nettoyer et convertir les chaînes en float
def convert_to_float(value):
    if pd.isna(value):
        return 0.
    #return float(value.replace(',', '.'))

# Appliquer la fonction de conversion à la colonne
carrez_cols = ['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot',
               'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot',
               'Surface Carrez du 5eme lot']



for col in carrez_cols:
    df[col] = df[col].apply(convert_to_float)

df['Somme surface carrez']= df[carrez_cols].sum(axis=1)

# Supprimer les colonnes contenant les surfaces carrez
df.drop(columns=carrez_cols, inplace=True)

#Conversion des valeurs fonciere en float
df['Valeur fonciere']=df['Valeur fonciere'].apply(convert_to_float)

/tmp/ipykernel_4273/13405349.py:5: DtypeWarning: Columns (14,18,23,24,26,28,29,31,32,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("raw_data/valeursfoncieres-2023.txt", sep="|").copy()

In [31]:
df.head(10)

,No disposition,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Code postal,Nombre de lots,Code type local,Surface reelle bati,Nombre pieces principales,Surface terrain,Somme surface carrez
0,1,05/01/2023,Vente,None,ALL,1630.0,1,3.0,0.0,0.0,NaN,0.0
1,1,05/01/2023,Vente,None,ALL,1630.0,1,3.0,0.0,0.0,NaN,0.0
2,1,05/01/2023,Vente,None,ALL,1630.0,1,2.0,233.0,8.0,NaN,0.0
3,1,03/01/2023,Vente,None,RTE,1450.0,0,1.0,64.0,3.0,988.0,0.0
4,1,05/01/2023,Vente,None,CHE,1800.0,0,1.0,73.0,3.0,835.0,0.0
5,1,05/01/2023,Vente,None,CHE,1800.0,0,3.0,0.0,0.0,835.0,0.0
6,1,05/01/2023,Vente,None,CHE,1800.0,0,3.0,0.0,0.0,835.0,0.0
7,1,03/01/2023,Vente,None,RUE,1210.0,0,1.0,136.0,7.0,921.0,0.0
8,1,06/01/2023,Vente,None,NaN,1480.0,0,NaN,NaN,NaN,17050.0,0.0
13,3,06/01/2023,Vente,None,NaN,1340.0,0,NaN,NaN,NaN,63.0,0.0

In [41]:
# importing pandas
import pandas as pd
# Définir la taille des morceaux (par exemple 100 000 lignes par chunk)
chunksize = 100000

# Liste pour stocker les DataFrames traités
dfs = []

# Lire le fichier en morceaux
for chunk in pd.read_csv("raw_data/valeursfoncieres-2023.txt", sep="|", chunksize=chunksize,dtype=str):

    # Sélectionner les colonnes d'intérêt
    cols = ['Date mutation', 'Nature mutation', 'Valeur fonciere',
            'Type de voie', 'Code postal', 'Surface Carrez du 1er lot',
            'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot',
            'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot',
            'Nombre de lots', 'Code type local', 'Surface reelle bati',
            'Nombre pieces principales', 'Surface terrain']

    chunk = chunk[cols]  # Sélectionner les colonnes

    # Suppression des lignes qui n'ont pas de 'Valeur fonciere' ou de 'Code postal'
    chunk.dropna(subset=['Valeur fonciere', 'Code postal'], inplace=True)

    # Filtrer pour ne garder que les 'Vente' classiques
    chunk = chunk[chunk['Nature mutation'] == 'Vente']
    chunk['Date mutation'] = pd.to_datetime(chunk['Date mutation'],format='%d/%m/%Y')
    # Colonnes Carrez à traiter
    carrez_cols = ['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot',
                   'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot',
                   'Surface Carrez du 5eme lot']



    # Remplacer les virgules par des points dans les colonnes numériques
    chunk['Valeur fonciere'] = chunk['Valeur fonciere'].str.replace(',', '.').astype(float)
    chunk[carrez_cols] = chunk[carrez_cols].apply(lambda col: col.str.replace(',', '.').astype(float))
        # Remplacer les NaN dans les colonnes Carrez par 0
    chunk[carrez_cols] = chunk[carrez_cols].fillna(0)
    chunk['somme surface carrez']=chunk[carrez_cols].sum(axis=1)
    # Supprimer les colonnes contenant les surfaces carrez
    chunk.drop(columns=carrez_cols, inplace=True)
    chunk[['Surface reelle bati','Nombre pieces principales','Surface terrain']]=chunk[['Surface reelle bati','Nombre pieces principales','Surface terrain']].fillna(0).astype(float)
    chunk[['Nombre de lots','Code type local']]=chunk[['Nombre de lots','Code type local']].fillna(0).astype(int)

    # Ajouter le chunk traité à la liste
    dfs.append(chunk)

# Combiner tous les DataFrames traités
df_final = pd.concat(dfs, ignore_index=True)

# Afficher les premières lignes pour vérifier
df_final.head(10)

,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Code postal,Nombre de lots,Code type local,Surface reelle bati,Nombre pieces principales,Surface terrain,somme surface carrez
0,2023-01-05,Vente,1070000.0,ALL,1630,1,3,0.0,0.0,0.0,0.0
1,2023-01-05,Vente,1070000.0,ALL,1630,1,3,0.0,0.0,0.0,0.0
2,2023-01-05,Vente,1070000.0,ALL,1630,1,2,233.0,8.0,0.0,0.0
3,2023-01-03,Vente,152200.0,RTE,1450,0,1,64.0,3.0,988.0,0.0
4,2023-01-05,Vente,269000.0,CHE,1800,0,1,73.0,3.0,835.0,0.0
5,2023-01-05,Vente,269000.0,CHE,1800,0,3,0.0,0.0,835.0,0.0
6,2023-01-05,Vente,269000.0,CHE,1800,0,3,0.0,0.0,835.0,0.0
7,2023-01-03,Vente,770000.0,RUE,1210,0,1,136.0,7.0,921.0,0.0
8,2023-01-06,Vente,6820.0,NaN,1480,0,0,0.0,0.0,17050.0,0.0
9,2023-01-06,Vente,85520.0,NaN,1340,0,0,0.0,0.0,63.0,0.0

In [37]:

df_final.dtypes

No disposition                        int64
Date mutation                datetime64[ns]
Nature mutation                      object
Valeur fonciere                     float64
Type de voie                         object
Code postal                         float64
Nombre de lots                        int64
Code type local                     float64
Surface reelle bati                 float64
Nombre pieces principales           float64
Surface terrain                     float64
somme surface carrez                float64
dtype: object